{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<header class="masthead" style="background-image: url({{ asset('/public/uploads/images/user/' ~ user.image ) }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ user.name }}</h1>
                    <span class="subheading">{{ user.surname }}</span>
                    <br>
                    {% if interact_tag == 'edit' %}
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id})}}">Edit</a>
                        {% else %}
                           {{ interact_tag|raw }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{{ path('post_show', {'id': post.id, 'user_id': post.user.id}) }}">
                            <h2 class="post-title">
                                {{ post.header | length > 50 ? post.header|slice(0, 50) ~ '...' : post.header}}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.body | length > 100 ? post.body|slice(0, 100) ~ '...' : post.body }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="{{ path('user_show', {'id': post.user.id}) }}">{{ post.user.name }}</a>
                            on {{ post.insDateTime|date("m/d/Y") }}</p>
                        {{ post.tags }}
                    </div>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}

                <hr>
                <!-- Pager -->
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block additional_scripts %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <script>
        $('#follow_options').click(function () {
            updateFollowing();
            return false;
        });

        function updateFollowing() {
            let dataSend = {"follower_id": {{ app.user.id }}, "user_for_follow_id": {{ user.id }}};
            jQuery.ajax({
                url: 'http://course-project.local/ajax',
                type: "POST",
                data: dataSend,
                success: function () {
                    let btn_text = document.getElementById('follow_options');
                    if (btn_text.firstChild.data === 'Subscribe'){
                        btn_text.firstChild.data = 'Unsubscribe';
                    } else if ( btn_text.firstChild.data === 'Unsubscribe') {
                        btn_text.firstChild.data = 'Subscribe';
                    }
                },
                error: function () {
                    console.log('Something went wrong!');
                    alert("fail");
                }
            });
        }
    </script>
    {% endif %}
    {% endblock %}

